body{
  background: #FEFEE9;
  text-align: center;
  align-content: center;

}
h1, h2{
  text-align: center;
  font-size: 80px;
  font-family: Spicy Rice;
  color:#E800FF;
  margin: 0;
}
h3{
  text-align: center;
  font-size: 80px;
  font-family: Spicy Rice;
  color:#E800FF;
}
